<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">UMD Dining Tracker</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<% if (username != null || user != null) { %>
								<li><a href="/qr_reader">QR Reader</a></li>
								<li><a href="/new_food_manual">Add Calories</a></li>
								<li><a href="/todays_menu">Today's Menu</a></li>
								<li><a href="/search">Search Menu</a></li>
								<li><a href="/data">My Data</a></li>
							<% } %>
						</ul>

						<ul class="nav navbar-nav" style="float: right">
								<% if (username != null || user != null) { %>
									<li><a href="/profile">Profile</a></li>
									<li><a href="/logout">Logout</a></li>
								<% } else { %>
									<li><a href="/demo_login">Demo Login</a></li>
									<li><a href="/cas_login">UMD Login</a></li>
								<% } %>
			      </ul>
				</div>
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
</nav>
