<!DOCTYPE html>
<html lang="en">
<head>
	<% var username = username; var user = user; %>
	<% include ./partials/head %>
	<style>
		canvas {
			display: block;
			vertical-align: bottom;
		}

		#particles-js {
  			position: absolute;
  			width: 100%;
			height: 100%;
			background-color: #b61924;
			background-image: url("");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		}

	</style>
</head>
<body >



	<% include ./partials/flash %>
	<% include ./partials/header %>
	<% include ./partials/footer %>
	<div id="particles-js"></div>



	<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
	<script src="js/runParticles.js"></script>

</body>
</html>
