<!DOCTYPE html>
<html lang="en">
<head>
	<% var username = username; var user = user; var menu = menu; %>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/flash %>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<table class="table">
				<tr>
					<th>Food name</th>
				</tr>
        <% for (let i=0; i<menu.length; i++) { %>
            <tr>
                <td id="<%= menu[i].recipe %>"><%= menu[i].name %></td>
            </tr>
        <% } %>
			</table>
		</div>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>

	<script>
		$(document).ready(function(){
				$.get(`http://umddiningapi.pesce.host/get_nutrition.json?recipe=${data}`, function(data, err) {
					$('#scanned-item').text(data.name);
					let popupCode =
						`<h5>Serving size: ${data.portion}</h5>
						<table class="table">
							<tr><td>Calories: ${data.calories}</td></tr>
							<tr><td>Total fat: ${data.totalfat}</td></tr>
							<tr><td>Total carbohydrates: ${data.carb}</td></tr>
							<tr><td>Cholesterol: ${data.cholesterol}</td></tr>
							<tr><td>Protein: ${data.protein}</td></tr>
							<tr><td>Sodium: ${data.sodium}</td></tr>
							<tr><td>Allergens: ${data.allergens}</td></tr>
						</table>`;
					$('#scanned-item-nutrition').html(tableInfo);
				});
		});
	</script>
</body>
</html>
