<!DOCTYPE html>
<html lang="en">

<head>
	<% var username = username; var user = user; var menu = menu; %>
	<% include ./partials/head %>
</head>

<body class="container">
	<header>
		<% include ./partials/flash %>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<table class="table">
				<tr>
					<th>Food name</th>
					<th>Calories</th>
					<th>Portion</th>
				</tr>
				<% for (let i=0; i<menu.length; i++) { %>
					<tr>
						<td id="<%= menu[i].recipe %>">
							<%= menu[i].name %>
						</td>
						<% if (menu[i].nutrition != null) { %>
							<td><%= menu[i].nutrition.calories %> cals</td>
							<td><%= menu[i].nutrition.portion %></td>
						<% } else { %>
							<td>--</td>
							<td>--</td>
						<% } %>
					</tr>
				<% } %>
			</table>
		</div>
	</main>

	<% include ./partials/footer %>
</body>

</html>
