<!DOCTYPE html>
<html lang="en">
<head>
	<% var username = username; var user = user; %>
	<% include ./partials/head %>
	<% var username = username; var user = user; %>

</head>
<body class="container">
	<header>
		<% include ./partials/flash %>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<table class="table">
				<tr>
					<th>Food name</th>
					<th>Serving Size</th>
					<th>Calories</th>
					<th>Total Fat</th>
					<th>Sodium</th>
					<th>Total Carbohydrates</th>
					<th>Protein</th>
				</tr>
                <% for (let food in menu) { %>
                    <tr>
                        <td> <% food.name %> </td>
                        <td> <% food.servingSize %> </td>
                        <td> <% food.calories %> </td>
                        <td> <% food.fat %> </td>
                        <td> <% food.sodium%> </td>
                        <td> <% food.carbs %> </td>
                        <td> <% food.protein %> </td>
                    </tr>
                <% } %>
			</table>
		</div>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>
</body>
</html>
