<!DOCTYPE html>
<html lang="en">
<head>
	<% var username = username; var user = user; %>
	<% include ./partials/head %>
	<script src="/js/qrScanner.js"></script>
</head>
<body class="container">

	<header>
		<% include ./partials/flash %>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">

					<div id="reader" style="width:500px;height:450px;"></div>

				</div><!-- Jumbotron -->
			</div><!-- col-sm-8 -->
			<div class="col-sm-4">

				<div class="well" id="result-pane">
					<h2 id="scanned-item"></h2>
					<table class="table" id="scanned-item-nutrition"></table>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>

	<script>
		$(document).ready(function(){
			$('#reader').html5_qrcode(function(data){
//					$('#reader').html5_qrcode_stop();
//					$('#qr-data').text(data);
					$.get(`http://10.104.139.36:8080/get_nutrition.json?recipe=${data}`, (data, err) => {

						$('#scanned-item').text(data.name);
						let tableInfo =
							`<h5>Serving size: ${data.portion}</h5>
							<table class="table">
								<tr><td>Calories: ${data.calories}</td></tr>
								<tr><td>Total fat: ${data.totalfat}</td></tr>
								<tr><td>Total carbohydrates: ${data.carb}</td></tr>
								<tr><td>Cholesterol: ${data.cholesterol}</td></tr>
								<tr><td>Protein: ${data.protein}</td></tr>
								<tr><td>Sodium: ${data.sodium}</td></tr>
								<tr><td>Allergens: ${data.allergens}</td></tr>
							</table>`;
						$('#scanned-item-nutrition').html(tableInfo);
					});
				},
				function(error){
					console.log(error);
				}, function(videoError){
					console.log(videoError);
			}
			);
		});
	</script>

</body>
</html>
